<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="icon" href="images/favicon.png">
	<title>Lista Telefonica</title>
	<!-- FOLHAS DE ESTILOS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="ListaTelefonica" ng-controller="ListaTelefonicaController">
	<div class="container">
		<div class="jumbotron">
			<h2>{{nome}} <i class="fa fa-address-book"></i></h2>
		</div>
		<table ng-show="contatos.length > 0" class="table">
			<thead>
				<tr>
					<th></th>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Operadora</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-hide="contato.selecionado" ng-repeat="contato in contatos">
					<td><input type="checkbox" ng-model="contato.selecionado"></td>
					<td>{{contato.nome}}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.operadora}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container">
		<h2>Novo Contato</h2>
		<form name="contatoForm">
			<div class="form-group">
				<input class="form-control" type="text" ng-model="contato.nome" ng-required="true" placeholder="Nome">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" ng-model="contato.telefone" ng-required="true" placeholder="Telefone">
			</div>
			<div class="form-group">
				<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome as operadora.nome for operadora in operadoras">
					<option value="" disabled>Selecione uma operadora</option>
				</select>
			</div>
		</form>
		<button class="btn btn-success btn-block" ng-disabled="!contato.nome || !contato.telefone || !contato.operadora" ng-click="adicionaContato(contato)"><i class="fa fa-plus"></i> Adicionar Contato</button>
		<button class="btn btn-danger btn-block"><i class="fa fa-minus"></i> Deletar Contato</button>
	</div>

	<!-- JAVASCRIPTS -->
	<script src="js/angular.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>